# Export `Pandas` dataframes to (existing) Excel workbook

## Import & Install Dependencies

In [1]:
import pandas as pd

<div class="alert alert-block alert-info">
<b>Note:</b><br><b>openpyxl</b> is an optional dependency of <b>Pandas</b>. Ensure you have <b>openpyxl</b> installed.</div>

<p style="background:black">
<code style="background:black;color:white">C:\Users\YOUR_USERNAME> pip install openpyxl
</code>
</p>

## 1st DataFrame

In [2]:
df1 = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
df1.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 2nd DataFrame

In [3]:
df2 = df1.groupby(by='sex').sum()[['tip']]
df2

           tip
sex
Female  246.51
Male    485.07

## 3rd DataFrame

In [4]:
df3 = df1.groupby(by='day').sum()[['tip']]
df3

         tip
day
Fri    51.96
Sat   260.40
Sun   247.39
Thur  171.83

## Export DataFrames to Excel workbook

In [5]:
# Overwrites existing workbook 
with pd.ExcelWriter('output.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='Sheet_1')
    df2.to_excel(writer, sheet_name='Sheet_2')
    df3.to_excel(writer, sheet_name='Sheet_3')

## Add DataFrames to existing Excel workbook

In [6]:
# Append to an existing Excel file
with pd.ExcelWriter('output.xlsx', mode='a', engine='openpyxl', if_sheet_exists='replace') as writer:  
    df1.to_excel(writer, sheet_name='Sheet_4')
    df2.to_excel(writer, sheet_name='Sheet_5')
    df3.to_excel(writer, sheet_name='Sheet_6')

## Add DataFrames to existing Excel workbook [ALTERNATIVE]

Sometimes openpyxl might conflict with Excel Charts. Another solution is to use `xlwings`

<p style="background:black">
<code style="background:black;color:white">C:\Users\YOUR_USERNAME> pip install xlwings
</code>
</p>

In [7]:
import xlwings as xw

# Use dict for your sheet/df mapping
sheet_df_mapping = {'Sheet_7': df1,
                    'Sheet_8': df2,
                    'Sheet_9': df3}

# Open Excel in background
with xw.App(visible=False) as app:
    wb = app.books.open('output.xlsx')
    
    # List of current worksheet names
    current_sheets = [sheet.name for sheet in wb.sheets]
    
    # Iterate over sheet/df mapping 
    # If sheet already exist, overwrite current cotent. Else, add new sheet
    for sheet_name in sheet_df_mapping.keys():
        if sheet_name in current_sheets:
            wb.sheets(sheet_name).range('A1').value = sheet_df_mapping.get(sheet_name)
        else:
            new_sheet = wb.sheets.add(after=wb.sheets.count)
            new_sheet.range('A1').value = sheet_df_mapping.get(sheet_name)
            new_sheet.name = sheet_name
    wb.save()