# Export `Pandas` dataframes to Excel using `XlsxWriter`

## Import & Install Dependencies

In [1]:
import pandas as pd

<div class="alert alert-block alert-info">
<b>Note:</b><br><b>xlsxwriter</b> is an optional dependency of <b>Pandas</b>. Ensure you have <b>xlsxwriter</b> installed.</div>

<p style="background:black">
<code style="background:black;color:white">C:\Users\YOUR_USERNAME> pip install XlsxWriter
</code>
</p>

## 1st DataFrame

In [2]:
tips = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 2nd DataFrame

In [3]:
tips_by_gender = tips.groupby(by='sex').sum()[['tip']]
tips_by_gender

           tip
sex
Female  246.51
Male    485.07

## 3rd DataFrame

In [4]:
tips_by_day = tips.groupby(by='day').sum()[['tip']]
tips_by_day

         tip
day
Fri    51.96
Sat   260.40
Sun   247.39
Thur  171.83

## Export DataFrames to Excel

In [5]:
# Use XlsxWriter as the engine
writer = pd.ExcelWriter('tips.xlsx', engine='xlsxwriter')

In [6]:
# Write each dataframe to a different worksheet.
tips.to_excel(writer, sheet_name='Sheet1')
tips_by_gender.to_excel(writer, sheet_name='Sheet2')
tips_by_day.to_excel(writer, sheet_name='Sheet3')

In [7]:
# Close Excel writer and output the Excel file.
writer.save()